$caro-height: 280px;

//测量所用的临时border
%test-shape {
  border: 1px solid #000000;
}
//reks卡片盒子
%reks-card-box {
  border-radius: 12px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  padding-top: 0.5rem;
}

%reks-avatar {
  user-select: none;
  cursor: pointer;
  
}

%reks-section-title{
  border-left: 2px solid firebrick;
  padding-left: 8px;
}

%reks-title{
  padding-left: .3rem;
  border-left: .5rem solid indianred;
}


@mixin rks_fadeIn {
  opacity: 0;
  will-change: opacity;
  animation: fadeIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }

    // 添加垂直入场动效
    100% {
      opacity: 1;
    }
  }
}

:deep(.b-avatar-img img) {
  image-rendering: -webkit-optimize-quality;
  image-rendering: crisp-edges;
  filter: blur(0.5px) !important;
  transform: scale(1.005) !important;
}