// $r-background:;
$caro-height: 280px;

//测量所用的临时border
%test-shape {
  border: 1px solid #000000;
}
// 卡片盒子
%reks-card-box {
  border-radius: 12px;
  background-color: #fafafa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  padding-top: 0.5rem;
}

%reks-avatar {
  user-select: none;
  cursor: pointer;
}

%reks-section-title {
  padding-left: 8px;
  border-left: 2px solid firebrick;
}

%reks-title {
  padding-left: 0.3rem;
  border-left: 0.5rem solid indianred;
}
// 居中flex
@mixin flex-center($diretion){
  display: flex;
  flex-direction: $diretion;
  justify-content: center;
  align-items: center;
}

// 自定义flex
@mixin flex-diy($diretion,$jc,$al,$gap){
  display: flex;
  flex-direction: $diretion;
  justify-content: $jc;
  align-items: $al;
  gap: $gap;
}

// 长宽
@mixin wnh($width,$height){
  width: $width;
  height: $height;
}

// 溢出控制
@mixin overflows($x,$y){
  overflow-x: $x;
  overflow-y: $y;
}

// absolute
@mixin positions($p,$t,$b,$l,$r){
  position: $p;
  top: $t;
  left: $l;
  right: $r;
  bottom: $b;
}

@mixin rks_fadeIn {
  opacity: 0;
  will-change: opacity;
  animation: fadeIn 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }

    // 添加垂直入场动效
    100% {
      opacity: 1;
    }
  }
}

:deep(.b-avatar-img img) {
  image-rendering: -webkit-optimize-quality;
  image-rendering: crisp-edges;
  filter: blur(0.5px) !important;
  transform: scale(1.005) !important;
}
