@font-face {
    font-family: 'Alibaba-PuHuiTi-Medium';
    src: url('/Fonts/Alibaba-PuHuiTi-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


